.mittaus {
   border-bottom: 1px solid #BADDFE;
    display: flex;
  }
  
.mittaus__rivi {
    display: flex;
    justify-content: space-between; 
}
  
.mittaus__paino, .mittaus__vyotaro {
    font-weight: bold;
}
  
.mittaus__mittauspaiva, .mittaus__viikko 
 {
  font-size: 85%;
  color: #666;
  }

  .mittaus > div {
      flex: 1 1 auto;
      padding: 1em;
  }

  .mittaus__linkki {
      max-width: 1em;
      display: none;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.1);

  }
  
  .mittaus:hover .mittaus__linkki {
      display: flex;
  }

  .kulukortti__linkki a {
      color: #000;
  }